h1 {
    color: $primary;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
    color: $primary;
}

h4 {
    font-size: 16px;
}

label {
    font-weight: bold;

    &.form-check-label {
        font-weight: normal;
    }
}

span {

    &.invalid-feedback {
        display: block;
    }
}

input {

    &.is-invalid {
        border: 1px solid $danger;
    }
}
